<include file="Common:header" />
<div id="manager">
	<h2 class="title">菜 单 功 能 管 理</h2>
	<p>管理导航：<a href="{:U('Core/index')}">菜单管理</a>&nbsp;|&nbsp;<a href="{:U('Core/add')}">添加菜单功能</a></p>
</div>
<form name="add" id="add" method="post" action="{:U('Core/save')}">
	<table width="100%" class="content_table">
		<tr>
			<td>栏目名称</td>
			<td class="textleft"><input type="text" name="lm_name" value="{$data['lm_name']}" size="18" /><input type="hidden" name="id" value="{$data['id']==1?'':$data['id']}" /></td>
			<td>菜单标题</td>
			<td class="textleft"><input type="text" name="menu_name" value="{$data['menu_name']}" size="18" /></td>
			<td>是否可用</td>
			<td class="textleft"><input type="radio" name="use" value="1" checked="checked"> 是　　<input type="radio" name="use" value="0" <equal name="data['use']" value="0">checked="checked"</equal>> 否</td>
		</tr>
		<tr>
			<td>控制器名</td>
			<td class="textleft"><input type="text" name="action" value="{$data['action']}" size="20" /></td>
			<td>方法名</td>
			<td class="textleft"><input type="text" name="function" value="{$data['function']}" size="20" /></td>
			<td>栏 目 ID</td>
			<td class="textleft"><input name="lm_id" type="text" value="{$data['lm_id']}" size="8" /></td>
		</tr>
		<tr>
			<td>创建管理链接</td>
			<td class="textleft"><input type="radio" name="manage" value="1" <equal name="data['manage']" value="1">checked="checked"</equal>> 是　　<input type="radio" name="manage" value="0" <equal name="data['manage']" value="0">checked="checked"</equal>> 否</td>
			<td></td>
			<td class="textleft"></td>
			<td>排序位置</td>
			<td class="textleft"><input name="sort_no" type="text" value="{$data['sort_no']}" size="6" /></td>
		</tr>
		<tr>
			<td>禁止添加</td>
			<td class="textleft"><input name="allow_field[]" type="checkbox" value="noadd" {:in_array('noadd',$data['allow_field'])?'checked="checked"':''} /></td>
			<td>禁止删除</td>
			<td class="textleft"><input name="allow_field[]" type="checkbox" value="nodel" {:in_array('nodel',$data['allow_field'])?'checked="checked"':''} /></td>
			<td>禁止修改</td>
			<td class="textleft"><input name="allow_field[]" type="checkbox" value="nomod" {:in_array('nomod',$data['allow_field'])?'checked="checked"':''} /></td>
		</tr>
	</table>
	<div class="clearH"></div>
	<table width="100%" class="content_table content_table_left">
		<tr>
			<td colspan="2"><font color="#FF0000">&nbsp;&nbsp;请选择文章内容所要显示的字段名称！</font></td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="title" {:in_array('title',$data['allow_field'])?'checked="checked"':''} />
				<input name="title" type="text" value="{$data['title']}">
				字段名：title</td>
			<td><input name="allow_field[]" type="checkbox" value="content" {:in_array('content',$data['allow_field'])?'checked="checked"':''} />
				<input name="content" type="text" value="{$data['content']}" />
				字段名：content</td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="category" {:in_array('category',$data['allow_field'])?'checked="checked"':''} />
				<input name="category" type="text" value="{$data['category']}"> 字段名：category</td>
			<td><input name="allow_field[]" type="checkbox" value="sort" {:in_array('sort',$data['allow_field'])?'checked="checked"':''} />
				<input name="sort" type="text" value="{$data['sort']}"> 字段名：sort</td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="smallpic" {:in_array('smallpic',$data['allow_field'])?'checked="checked"':''} />
				<input name="smallpic" type="text" value="{$data['smallpic']}" />
				字段名：smallpic</td>
			<td><input name="allow_field[]" type="checkbox" value="bigpic" {:in_array('bigpic',$data['allow_field'])?'checked="checked"':''} />
				<input name="bigpic" type="text" value="{$data['bigpic']}" />
				字段名：bigpic</td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="is_tj" {:in_array('is_tj',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_tj" type="text" value="{$data['is_tj']}" />
				字段名：is_tj</td>
			<td><input name="allow_field[]" type="checkbox" value="is_gd" {:in_array('is_gd',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_gd" type="text" value="{$data['is_gd']}" />
				字段名：is_gd</td>
		</tr>
		<tr>
			<?php
			for($i=1;$i<11;$i++){
			$field = 'title'.$i;
			$field_ = 'title'.$i.'_';
			$field_select = 'title'.$i.'_select';
			$field_check = 'title'.$i.'_check';
			?>
			<td><input name="allow_field[]" type="checkbox" {:in_array($field,$data['allow_field'])?'checked="checked"':''} />
				<input name="title{$i}" type="text" value="{$data[$field]}">
				字段名：{$field}<br>
				<input name="allow_field[]" type="checkbox" value="{$field}_select" {:in_array($field.'_select',$data['allow_field'])?'checked="checked"':''} />
				select
				<input name="allow_field[]" type="checkbox" value="{$field}_check" {:in_array($field.'_check',$data['allow_field'])?'checked="checked"':''} />
				check
				<input name="{$field}_" type="text" value="{$data[$field_]}" size="40"></td>
			<?php
			if($i%2==0)echo'</tr><tr>';
			}
			?>
		</tr>
		<tr>
			<?php
			$fieldlist = array('content1','content2','content3','content4','content5','','name1','name2','name3','name4','name5','','upload1','upload2','upload3','upload4','upload5','multiPic');
			foreach($fieldlist as $k => $field){
				if(!$field){
					echo '<td></td>';
				}else{
			?>
			<td><input name="allow_field[]" type="checkbox" value="{$field}" {:in_array($field,$data['allow_field'])?'checked="checked"':''} />
				<input name="{$field}" type="text" value="{$data[$field]}">
				字段名：{$field}</td>
			<?php
				}
			if(($k+1)%2==0)echo'</tr><tr>';
			}
			?>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="is_ab" {:in_array('is_ab',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_ab" type="text" value="{$data['is_ab']}" />
				字段名：is_ab</td>
			<td><input name="allow_field[]" type="checkbox" value="is_cd" {:in_array('is_cd',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_cd" type="text" value="{$data['is_cd']}" />
				字段名：is_cd</td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="is_ef" {:in_array('is_ef',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_ef" type="text" value="{$data['is_ef']}">
				字段名：is_ef</td>
			<td><input name="allow_field[]" type="checkbox" value="is_gh" {:in_array('is_gh',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_gh" type="text" value="{$data['is_gh']}">
				字段名：is_gh</td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="is_jk" {:in_array('is_jk',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_jk" type="text" value="{$data['is_jk']}">
				字段名：is_jk</td>
			<td><input name="allow_field[]" type="checkbox" value="is_mn" {:in_array('is_mn',$data['allow_field'])?'checked="checked"':''} />
				<input name="is_mn" type="text" value="{$data['is_mn']}">
				字段名：is_mn</td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="hits" {:in_array('hits',$data['allow_field'])?'checked="checked"':''} />
				<input name="hits" type="text" value="{$data['hits']}">
				字段名：hits</td>
			<td><input name="allow_field[]" type="checkbox" value="created" {:in_array('created',$data['allow_field'])?'checked="checked"':''} />
				<input name="created" type="text" value="{$data['created']}">
				字段名：creatTime</td>
		</tr>
	</table>
	<div class="clearH"></div>
	<table width="100%" class="content_table content_table_left">
		<tr>
			<td colspan="2"><font color="#FF0000">请选择类别所要显示的字段名称！</font></td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="category_title" {:in_array('category_title',$data['allow_field'])?'checked="checked"':''} />
				<input name="category_title" type="text" value="{$data['category_title']}">
				字段名：category_title</td>
			<td><input name="allow_field[]" type="checkbox" value="no_son" {:in_array('no_son',$data['allow_field'])?'checked="checked"':''} /> 禁止二级类别</td>
		</tr>
		<tr>
			<?php
			$fieldlist = array('category_title1','category_title2','category_smallpic','category_bigpic','category_bremark','category_name1','category_name2','category_content1','category_content2','category_multipic');
			foreach($fieldlist as $k => $field){
				if(!$field){
					echo '<td></td>';
				}else{
			?>
			<td><input name="allow_field[]" type="checkbox" value="{$field}" {:in_array($field,$data['allow_field'])?'checked="checked"':''} />
				<input name="{$field}" type="text" value="{$data[$field]}">
				字段名：{$field}</td>
			<?php
				}
			if(($k+1)%2==0)echo'</tr><tr>';
			}
			?>
		</tr>
	</table>
	<div class="clearH"></div>
	<table width="100%" class="content_table content_table_left">
		<tr>
			<td colspan="2"><font color="#FF0000">请选择留言所要显示的字段名称！(title和content字段用文章内容的字段)</font></td>
		</tr>
		<tr>
			<td><input name="allow_field[]" type="checkbox" value="huifu" {:in_array('huifu',$data['allow_field'])?'checked="checked"':''} />
				启用回复</td>
			<td></td>
		</tr>
		<?php
			$fieldlist = array('uname','company','phone','tel','fax','pic','email','youbian','addr');
			foreach($fieldlist as $k => $field){
				if(!$field){
					echo '<td></td>';
				}else{
			?>
			<td><input name="allow_field[]" type="checkbox" value="{$field}" {:in_array($field,$data['allow_field'])?'checked="checked"':''} />
				<input name="{$field}" type="text" value="{$data[$field]}">
				字段名：{$field}</td>
			<?php
				}
			if(($k+1)%2==0)echo'</tr><tr>';
			}
			?>
		</tr>
	</table>
	<table width="100%" class="content_table">
		<tr>
			<td><input type="submit" class="btn" value=" 确 定 "> <input type="button" class="btn" value=" 返 回 " onClick="self.history.back();"></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
$(function(){
	$('.addLink').click(function(){
		$('input[name="doLink"]').val($(this).text());
	})
})
</script>
<include file="Common:footer" />