<include file="Common:header" />
<div id="manager">
	<h2 class="title">反 馈 管 理</h2>
	<p>管理导航：<a href="{:U('Message/index')}">反馈管理</a>
	<span>
		<input type="hidden" name="target" id="target" value="{:U('Message/index')}" />
		<input type="text" name="wd" id="wd" value="{:I('get.wd','','trim')}" /><input name="search" type="button" value="快速检索" class="search" />
	</span>
	</p>
</div>
<form name="listForm" id="listForm" method="post" action="{:U('Message/delete')}">
<table width="100%" class="content_table">
	<tr class="title">
		<td><input type="checkbox" id="checkAll"> 全选</td>
		<td><b>ID</b></td>
		{:in_array('title',$menuData['allow_field'])?'<td><b>'.$menuData['title'].'</b></td>':''}
		{:in_array('uname',$menuData['allow_field'])?'<td><b>'.$menuData['uname'].'</b></td>':''}
		{:in_array('phone',$menuData['allow_field'])?'<td><b>'.$menuData['phone'].'</b></td>':''}
		{:in_array('huifu',$menuData['allow_field'])?'<td><b>'.'回复'.'</b></td>':''}
		<td><b>{$menuData['created']}</b></td>
		<td><b>单项操作</b></td>
	</tr>
	<foreach name="data" item="val">
	<tr class="content">
		<td><input name="id[]" type="checkbox" value="{$val['id']}"></td>
		<td>{$val['id']}</td>
		{:in_array('title',$menuData['allow_field'])?'<td>'.$val['title'].'</td>':''}
		{:in_array('uname',$menuData['allow_field'])?'<td>'.$val['uname'].'</td>':''}
		{:in_array('phone',$menuData['allow_field'])?'<td>'.$val['phone'].'</td>':''}
		{:in_array('huifu',$menuData['allow_field'])?'<td>'.$val['re_content'].'</td>':''}
		<td>{$val['created']|date="Y-m-d",###}</td>
		<td>
			<a href="{:U('Message/add',array('id'=>$val['id']))}">查看</a>|<a href="javascript:if (confirm('确定删除?')) location='{:U('Message/delete',array('id'=>$val['id']))}'">删除</a>
		</td>
	</tr>
	</foreach>
	<tr>
		<td><input name="del" type="button" value="删 除" class="btn blue" /></td>
		<td colspan="8" class="pages">{$pagerData['linkhtml']}</td>
	</tr>
</table>
</form>
<include file="Common:footer" />