<include file="Common:header" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/css/upload.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/KindEditor/kindeditor.js" />
<div id="manager">
	<h2 class="title">菜 单 功 能 管 理</h2>
	<p>管理导航：<a href="{:U('Category/index')}">信息管理</a>&nbsp;|&nbsp;<a href="{:U('Category/add')}">信息添加</a></p>
</div>
<form name="addForm" id="addForm" method="post" action="{:U('Category/save')}">
	<input type="hidden" name="lm_id" value="{$menuData['lm_id']}" />
	<input type="hidden" name="id" value="{$data['id']}" />
	<input type="hidden" name="sort" value="{$sort}" />
	<table width="100%" class="content_table">
		{:W('Tcms/showCategorySelect',array($data,$selected,$menuData))}
		
		{:W('Tcms/showInput',array('category_title',$data,$menuData))}
		{:W('Tcms/showInput',array('category_title1',$data,$menuData))}
		{:W('Tcms/showInput',array('category_title2',$data,$menuData))}
		{:W('Tcms/showInput',array('category_bremark',$data,$menuData))}
		
		{:W('Tcms/showTextarea',array('category_name1',$data,$menuData))}
		{:W('Tcms/showTextarea',array('category_name2',$data,$menuData))}
		
		{:W('Tcms/showEditorContent',array('category_content1',$data,$menuData))}
		{:W('Tcms/showEditorContent',array('category_content2',$data,$menuData))}
		
		{:W('Tcms/showUploadSingle',array('category_smallpic',$data,$menuData))}
		{:W('Tcms/showUploadSingle',array('category_bigpic',$data,$menuData))}
		
		{:W('Tcms/showUploadMulti',array('category_multipic',$data,$menuData))}
		
		{:W('Tcms/showCreated',array('created',$data,$menuData))}
		
	</table>
	<div class="clearH"></div>
	<table width="100%" class="content_table">
		<tr>
			<td><input type="submit" class="btn green big" value="确 定"> <input type="button" class="btn big" value="返 回" onClick="self.history.back();"></td>
		</tr>
	</table>
</form>
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/scripts/swfobject.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/scripts/jquery.uploadify.v2.1.0.min.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/myupload.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/My97DatePicker/WdatePicker.js" />
<script type="text/javascript">
//content字段Kind初始化
$(function(){
	var items = ['source','undo','redo','fontsize','|','forecolor', 'hilitecolor', 'bold', 'italic', 'underline','removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright','|', 'emoticons', 'image', 'multiimage', 'link'];
	KindEditor.ready(function(K) {
		K.create('textarea[class="content"]', {
			uploadJson : '/admin.php/upload/kindEditor',
			fileManagerJson : '/admin.php/upload/fileManager',
			urlType : 'absolute',
			allowFileManager : true,
			//afterBlur:function(){},
			//items : items
		});
	});
})
</script>