@charset 'utf-8';
body{ background:#FFFEFC;}
.header{ width:900px; margin:0 auto; margin-top:50px;}

.main{width:900px; margin:0 auto; margin-top:25px;}
.main .login_picture{ height:420px; background:url(../Images/login_pic.jpg) no-repeat -15px center;}
.main .login_box{ border:1px solid #F4EDE4; background:#FFF; width:350px; height:300px; position:relative; float:right; margin-top:40px; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; padding-top:20px;}
.main .login_box input{ border:#EFEDED 1px solid; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; width:230px; height:50px; line-height:50px; margin:0 auto; display:block; margin-top:25px; padding: 0 0 0 40px; background:url(../Images/login_user_info.png) no-repeat 15px center;}
.main .login_box input.login_pwd{ background:url(../Images/login_user_pwd.png) no-repeat 15px center;}
.main .login_box a.login_btn{ text-align:center; font-size:24px; color:#FFF; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; width:270px; height:50px; line-height:50px; margin:0 auto; display:block; margin-top:25px; background:#DD6823; font-family:"Microsoft YaHei";}
.main .login_box a.login_btn:hover{ background:#CE6026;}
.main .login_box span{width:270px; height:25px; line-height:25px; margin:0 auto; display:block; margin-top:20px; text-align:center;}
.main .login_box span a{ color:#666766;}
.main .login_box span a.login_reg{ color:#DD6823;}
.main .login_box span a:hover{ color:#DD6823;}
.main .login_box .connect_box{ position:absolute; left:39px; top:97px;border:#EFEDED 1px solid; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; width:270px; background:#fff;}
.main .login_box .connect_box a{ display:block; line-height:30px; font-size:14px; text-indent:15px;}
.main .login_box .connect_box a:hover{ background:#F9F9F9;}
/*------- 联想邮箱样式 ------*/
#mailBox{background:#FFFEFC;border:1px solid #EFEDED;position:absolute;z-index:9999;display:none;-webkit-box-shadow:0px 2px 7px rgba(0, 0, 0, 0.35);-moz-box-shadow:0px 2px 7px rgba(0, 0, 0, 0.35);}
#mailBox p{width:100%;margin:0;padding:0;height:20px;line-height:20px;clear:both;font-size:12px;color:#ccc;cursor:default;text-indent: 8px;}
#mailBox ul li{font-size:12px;height:22px;line-height:22px;color:#666;font-family:'Tahoma';list-style:none;cursor:pointer;overflow:hidden;text-indent: 8px;}
#mailBox .cmail{color:#fff;background:#e86b1d;}

.login_text{width:900px; margin:0 auto; margin-top:5px; overflow:hidden;}
.login_text ul{ width:110%;}
.login_text ul span{ width:25%; display:inline-block; padding-left:70px; color:#999; font-size:12px; background:url(../Images/login_icon01.png) no-repeat left center;}
.login_text ul span.text02{ background:url(../Images/login_icon02.png) no-repeat left center;}
.login_text ul span.text03{ background:url(../Images/login_icon03.png) no-repeat left center;}
.login_text ul span em{ font-size:14px; font-family:"Microsoft YaHei"; line-height:30px; display:block; text-align:left; color:#333; font-weight:normal;}
.footer{ width:900px; margin:0 auto; margin-top:25px; overflow:hidden; text-align:center; border-top:1px solid #EFEDED; margin-top:45px; padding-top:35px; color:#666;padding-bottom: 20px;}
.footer a{ line-height:30px; color:#666;}
.footer a:hover{ color:#CE6026;}
	
.tips_icon{ margin: 0 0 0 40px; width:261px; background:#fff392; padding:0 0 0 10px; height:25px; line-height:25px; color:#000;}