<include file="Common:header" />

<div class="clearH"></div>
<div id="main1">
	<div class="video">
		<div class="left"></div>
		<div class="videocontent">
			<div class="title">最新视频<i>news</i><span><a href="">更多>></a></span></div>
			<embed src="{$settingData['video_url']}" quality="high" width="268" height="190" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed>
		</div>
		<div class="right"></div>	
	</div>
	<div class="about">
		<div class="left"></div>
		<div class="aboutcontent">
			<div class="title">关于我们<i>ABOUT</i><span><a href="{:U('About/index',array('id'=>1))}">更多>></a></span></div>
			<div class="aboutcontentcontent"><img src="/Public/Uploads{$aboutData['smallpic']}" width="96" height="85">{$aboutData['content']}[<a href="{:U('About/index',array('id'=>$aboutData['id']))}">详细</a>]</div>
		</div>
		<div class="right"></div>	
	</div>
	<div class="product">
		<div class="left"></div>
		<div class="productcontent">
			<div class="title">核心业务<i>BUSINESS</i><span><a href="{:U('Product/index')}">更多>></a></span></div>
			<div class="productcontentcontent">
				<foreach name="productData" item="val">
					<a href="{:U('Product/index',array('id'=>$val['id']))}">{$val['title']}</a>
				</foreach>
			</div>
		</div>
		<div class="right"></div>
	</div>
</div>

<div class="clearH"></div>
<div id="main2">
	<div class="news">
		<div class="left"></div>
		<div class="newscontent">
			<div class="title">最新动态<i>news</i><span><a href="{:U('News/index')}">更多>></a></span></div>
			<ul>
				<foreach name="newsData" item="val">
					<li><span>{$val['created']|date='Y-m-d',###}</span><a href="{:U('News/index',array('id'=>$val['id']))}" target="_blank">{$val['title']}</a></li>
				</foreach>
			</ul>
		</div>
		<div class="right"></div>	
	</div>
	<div class="case">
		<div class="casecontent">
			<div class="title_">经典案例<i>Case</i><span><a href="{:U('Case/index')}">更多>></a></span></div>
			<table border="0" cellpadding="0" cellspacing="0" style="border: solid 1px #747474;height: 177px;">
				<tbody>
				<tr>
					<td width="17"><a href="javascript:void(0);" id="LeftButton2"><img src="__PUBLIC__/{:C('HOME_THEME_PATH')}/images/but_left.gif" border="0"></a></td>
                    <td valign="top" width="619">
	                <div id="MarqueeDiv2" style="width: 618px; overflow: hidden; padding-top: 15px; height: 160px;">
						<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;display:inline;">
							<tbody>
								<tr>
									<td nowrap="true" style="white-space: nowrap;word-break:keep-all;">
										<table style="WIDTH:6765px; BORDER-COLLAPSE: collapse;display:inline;" cellspacing="0" cellpadding="0" align="center" border="0" class="tb_auto_1">
											<tbody>
												<tr>
													<foreach name="caseData" item="val">				
													<td><div class="box"><a href="{:U('Case/index',array('id'=>$val['id']))}"><img src="/Public/Uploads{$val['smallpic']}" width="147" height="108"></a></div><a href="{:U('Case/index',array('id'=>$val['id']))}" target="_blank">{$val['title']}</a></td>
													</foreach>
												</tr>
											</tbody>
										</table>
	                                </td>
								</tr>
							</tbody>
						</table>
					</div>
					</td>
					<td width="17"><a href="javascript:void(0);" id="RightButton2"><img src="__PUBLIC__/{:C('HOME_THEME_PATH')}/images/but_right.gif" border="0"></a></td>
				</tr>
                </tbody>
			</table>
		</div>
	</div>
</div>

<div class="clearH"></div>
<div class="link">友情链接：<a href="http://www.tffcw.com" target="_blank">天府房产网</a>　|　<a href="http://www.tfxk.com" target="_blank">天府星空</a></div>
<script type="text/javascript">
    function S(id){return document.getElementById(id)};
    var MarqueeDiv2Control=new Marquee("MarqueeDiv2");	//箭头控制滚动方向、加速及鼠标拖动实例
    MarqueeDiv2Control.Direction="left";
    MarqueeDiv2Control.Step=1;
    MarqueeDiv2Control.Width=659;
    MarqueeDiv2Control.Height=160;
    MarqueeDiv2Control.Timer=20;
    MarqueeDiv2Control.ScrollStep=1;//若为-1则禁止鼠标控制实例
    MarqueeDiv2Control.Start();
    S("LeftButton2").onmouseover=function(){MarqueeDiv2Control.Direction=2};
    S("LeftButton2").onmouseout=S("LeftButton2").onmouseup=function(){MarqueeDiv2Control.Step=MarqueeDiv2Control.BakStep};
    S("LeftButton2").onmousedown=S("RightButton2").onmousedown=function(){MarqueeDiv2Control.Step=MarqueeDiv2Control.BakStep+3};
    S("RightButton2").onmouseover=function(){MarqueeDiv2Control.Direction=3};
    S("RightButton2").onmouseout=S("RightButton2").onmouseup=function(){MarqueeDiv2Control.Step=MarqueeDiv2Control.BakStep};
</script>
<include file="Common:footer" />