<include file="Common:header" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/css/upload.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/KindEditor/kindeditor.js" />
<div id="manager">
	<h2 class="title">SEO 功 能 管 理</h2>
	<p>管理导航：<a href="{:U('Seo/index')}">SEO管理</a>&nbsp;|&nbsp;<a href="javascript:;" class="addButton">添加一项</a></p>
</div>
<form name="addForm" id="addForm" method="post" action="{:U('Setting/index')}">
	<table width="100%" class="content_table">
		<tr>
			<td width="150">配置</td>
			<td width="200">配置唯一标识</td>
			<td>配置值</td>
			<td width="150">操作</td>
		</tr>
		<tr>
			<td><input type="text" name="text[]" value="" style="width:80%" /></td>
			<td><input type="text" name="key[]" value="" style="width:80%" /></td>
			<td><input type="text" name="value[]" value="" style="width:80%" /></td>
			<td><a class="delButton" href="javascript:;" onclick="delete();">删除</a</td>
		</tr>
	</table>
	<div class="clearH"></div>
	<table width="100%" class="content_table">
		<tr>
			<td><input type="submit" class="btn green big" value="确 定"> <input type="button" class="btn big" value="返 回" onClick="self.history.back();"></td>
		</tr>
	</table>
</form>
<script>
$(".addButton").live('click',function(){
	$('.content_table tr:last').append('<tr><td><input type="text" name="text[]" value="" style="width:80%" /></td><td><input type="text" name="key[]" value="" style="width:80%" /></td><td><input type="text" name="value[]" value="" style="width:80%" /></td><td><a class="delButton" href="javascript:;" onclick="delete();">删除</a</td></tr>');
});

$(".delButton").live('click',function(){
	$(this).parents('tr').remove();
});
</script>
<include file="Common:footer" />