<include file="Common:header" />
<div id="manager">
	<h2 class="title">菜 单 功 能 管 理</h2>
	<p>管理导航：<a href="{:U('Recycle/index')}">回收站管理</a></p>
</div>
<form name="listForm" id="listForm" method="post" action="{:U('News/delete')}">
<table width="100%" class="content_table">
	<tr class="title">
		<td><input type="checkbox" id="checkAll"> 全选</td>
		<td><b>ID</b></td>
		<td><b>title</b></td>
		<td><b>created</b></td>
		<td><b>deleted</b></td>
		<td><b>单项操作</b></td>
	</tr>
	<foreach name="data" item="val">
	<tr class="content">
		<td><input name="id[]" type="checkbox" value="{$val['id']}"></td>
		<td>{$val['id']}</td>
		<td>{$val['title']}</td>
		<td>{$val['created']|date="Y-m-d",###}</td>
		<td>{$val['deleted']|date="Y-m-d",###}</td>
		<td><a href="{:U('Recycle/remove',array('id'=>$val['id']))}">还原</a>|<a href="javascript:if (confirm('确定删除?')) location='{:U('News/delete',array('id'=>$val['id']))}'">删除</a></td>
	</tr>
	</foreach>
	<tr>
		<td><input name="del" type="button" value="删 除" class="btn blue" /></td>
		<td colspan="8" class="pages">{$pagerData['linkhtml']}</td>
	</tr>
</table>
</form>
<include file="Common:footer" />