<include file="Common:header" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/css/upload.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/KindEditor/kindeditor.js" />
<div id="manager">
    <h2 class="title">菜 单 功 能 管 理</h2>
    <p>管理导航：<a href="{:U('News/index')}">信息管理</a>&nbsp;|&nbsp;<a href="{:U('News/add')}">信息添加</a></p>
</div>
<form name="addForm" id="addForm" method="post" action="{:U('News/save')}">
    <input type="hidden" name="lm_id" value="{$menuData['lm_id']}" />
    <input type="hidden" name="id" value="{$data['id']}" />
    <input type="hidden" name="PageNo" value="<?php echo $PageNo;?>" />
    <table width="100%" class="content_table">
        {:W('Tcms/showInput',array('title',$data,$menuData))}

        {:W('Tcms/showCategory',array('category',$data,$menuData))}

        {:W('Tcms/showInput',array('title1',$data,$menuData))}
        {:W('Tcms/showInput',array('title2',$data,$menuData))}
        {:W('Tcms/showInput',array('title3',$data,$menuData))}
        {:W('Tcms/showInput',array('title4',$data,$menuData))}
        {:W('Tcms/showInput',array('title5',$data,$menuData))}
        {:W('Tcms/showInput',array('title6',$data,$menuData))}
        {:W('Tcms/showInput',array('title7',$data,$menuData))}
        {:W('Tcms/showInput',array('title8',$data,$menuData))}
        {:W('Tcms/showInput',array('title9',$data,$menuData))}
        {:W('Tcms/showInput',array('title10',$data,$menuData))}

        {:W('Tcms/showTextarea',array('name1',$data,$menuData))}
        {:W('Tcms/showTextarea',array('name2',$data,$menuData))}
        {:W('Tcms/showTextarea',array('name3',$data,$menuData))}
        {:W('Tcms/showTextarea',array('name4',$data,$menuData))}
        {:W('Tcms/showTextarea',array('name5',$data,$menuData))}

        {:W('Tcms/showEditorContent',array('content',$data,$menuData))}
        {:W('Tcms/showEditorContent',array('content1',$data,$menuData))}
        {:W('Tcms/showEditorContent',array('content2',$data,$menuData))}
        {:W('Tcms/showEditorContent',array('content3',$data,$menuData))}
        {:W('Tcms/showEditorContent',array('content4',$data,$menuData))}
        {:W('Tcms/showEditorContent',array('content5',$data,$menuData))}

        {:W('Tcms/showRadio',array('is_tj',$data,$menuData))}
        {:W('Tcms/showRadio',array('is_gd',$data,$menuData))}
        {:W('Tcms/showRadio',array('is_ab',$data,$menuData))}
        {:W('Tcms/showRadio',array('is_cd',$data,$menuData))}
        {:W('Tcms/showRadio',array('is_ef',$data,$menuData))}
        {:W('Tcms/showRadio',array('is_gh',$data,$menuData))}
        {:W('Tcms/showRadio',array('is_jk',$data,$menuData))}
        {:W('Tcms/showRadio',array('is_mn',$data,$menuData))}

        {:W('Tcms/showUploadSingle',array('smallpic',$data,$menuData))}
        {:W('Tcms/showUploadSingle',array('bigpic',$data,$menuData))}
        {:W('Tcms/showUploadSingle',array('upload1',$data,$menuData))}
        {:W('Tcms/showUploadSingle',array('upload2',$data,$menuData))}
        {:W('Tcms/showUploadSingle',array('upload3',$data,$menuData))}
        {:W('Tcms/showUploadSingle',array('upload4',$data,$menuData))}
        {:W('Tcms/showUploadSingle',array('upload5',$data,$menuData))}

        {:W('Tcms/showUploadMulti',array('multipic',$data,$menuData))}
        {:W('Tcms/showSort',array('sort',$data,$menuData))}
        {:W('Tcms/showInput',array('hits',$data,$menuData))}
        {:W('Tcms/showCreated',array('created',$data,$menuData))}
    </table>
    <div class="clearH"></div>
    <table width="100%" class="content_table">
        <tr>
            <td><input type="submit" class="btn green big" value="确 定"> <input type="button" class="btn big" value="返 回" onClick="self.history.back();"></td>
        </tr>
    </table>
</form>
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/scripts/swfobject.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/scripts/jquery.uploadify.v2.1.0.min.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/myupload.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/My97DatePicker/WdatePicker.js" />
<script type="text/javascript">
    $(function(){
        var items = ['source','undo','redo','fontsize','|','forecolor', 'hilitecolor', 'bold', 'italic', 'underline','removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright','|', 'emoticons', 'image', 'multiimage', 'link'];
        KindEditor.ready(function(K) {
            K.create('textarea[class="content"]', {
                uploadJson : '/admin/upload/kindEditor',
                fileManagerJson : '/admin/upload/fileManager',
                urlType : 'absolute',
                allowFileManager : true,
                //afterBlur:function(){},
                //items : items
            });
        });
    })
</script>
<include file="Common:footer" />