<include file="Common:header" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/css/upload.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/KindEditor/kindeditor.js" />
<div id="manager">
	<h2 class="title">会 员 管 理</h2>
	<p>管理导航：<a href="{:U('Member/index')}">会员管理</a></p>
</div>
<form name="addForm" id="addForm" method="post" action="{:U('Member/save')}">
	<input type="hidden" name="lm_id" value="{$menuData['lm_id']}" />
	<input type="hidden" name="id" value="{$data['id']}" />
	<input type="hidden" name="PageNo" value="<?php echo $PageNo;?>" />
	<table width="100%" class="content_table">
		<tr>
			<td width="100">用户名</td>
			<td class="textleft"><input type="text" name="username" value="{$data['username']}" size="50" /></td>
		</tr>
		<tr>
			<td width="100">真实姓名</td>
			<td class="textleft"><input type="text" name="realname" value="{$data['realname']}" size="50" /></td>
		</tr>
		<tr>
			<td width="100">登录密码</td>
			<td class="textleft"><input type="text" name="password" value="" size="50" />(留空不修改)</td>
		</tr>
		<tr>
			<td width="100">性别</td>
			<td class="textleft"><input type="radio" name="sex" value="0" <equal name="data['sex']" value="0">checked="checked"</equal>> 保密　<input type="radio" name="sex" value="1" <equal name="data['sex']" value="1">checked="checked"</equal>> 男　<input type="radio" name="sex" value="2" <equal name="data['sex']" value="2">checked="checked"</equal>> 女</td>
		</tr>
		<tr>
			<td width="100">手机号</td>
			<td class="textleft"><input type="text" name="phone" value="{$data['phone']}" size="50" /></td>
		</tr>
		<tr>
			<td width="100">联系电话</td>
			<td class="textleft"><input type="text" name="tel" value="{$data['tel']}" size="50" /></td>
		</tr>
		<tr>
			<td width="100">电子邮箱</td>
			<td class="textleft"><input type="text" name="email" value="{$data['email']}" size="50" /></td>
		</tr>
		<tr>
			<td width="100">邮编</td>
			<td class="textleft"><input type="text" name="youbian" value="{$data['youbian']}" size="50" /></td>
		</tr>
		<tr>
			<td width="100">地址</td>
			<td class="textleft"><input type="text" name="addr" value="{$data['addr']}" size="50" /></td>
		</tr>
		<tr>
			<td width="100">头像</td>
			<td class="textleft"><img src="{$data['avatar']}" /></td>
		</tr>
		<tr>
			<td width="100">激活状态</td>
			<td class="textleft"><input type="radio" name="status" value="1" checked="checked"> 已激活　<input type="radio" name="status" value="0" <equal name="data['status']" value="0">checked="checked"</equal>> 未激活</td>
		</tr>
		<tr>
			<td width="100">锁定状态</td>
			<td class="textleft"><input type="radio" name="locked" value="0" checked="checked"> 正常　<input type="radio" name="locked" value="{:NOW_TIME}" <gt name="data['locked']" value="1">checked="checked"</gt>> 锁定</td>
		</tr>
	</table>
	<div class="clearH"></div>
	<table width="100%" class="content_table">
		<tr>
			<td><input type="submit" class="btn green big" value="确 定"> <input type="button" class="btn big" value="返 回" onClick="self.history.back();"></td>
		</tr>
	</table>
</form>
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/scripts/swfobject.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/scripts/jquery.uploadify.v2.1.0.min.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/SwfUpload/myupload.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/My97DatePicker/WdatePicker.js" />
<script type="text/javascript">
$(function(){
	var items = ['source','undo','redo','fontsize','|','forecolor', 'hilitecolor', 'bold', 'italic', 'underline','removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright','|', 'emoticons', 'image', 'multiimage', 'link'];
	KindEditor.ready(function(K) {
		K.create('textarea[class="content"]', {
			uploadJson : '/admin.php/upload/kindEditor',
			fileManagerJson : '/admin.php/upload/fileManager',
			urlType : 'absolute',
			allowFileManager : true,
			//afterBlur:function(){},
			//items : items
		});
	});
})
</script>
<include file="Common:footer" />