<include file="Common:header" />
<div id="manager">
	<h2 class="title">用 户 管 理</h2>
	<p>管理导航：<a href="{:U('User/index')}">用户管理</a>&nbsp;|&nbsp;<a href="{:U('User/add')}">添加用户</a></p>
</div>
<form name="addForm" id="addForm" method="post" action="{:U('User/save')}">
	<table width="100%" class="content_table">
		<tr>
			<td colspan="2" class="textleft"><font color="#FF0000">&nbsp;&nbsp;Tips:修改用户可不输入密码，添加用户默认密码888888!</font></td>
		</tr>
		<tr>
			<td width="120">用户名</td>
			<td class="textleft"><input type="text" name="userID" value="" /><input type="hidden" name="id" value="" /></td>
		</tr>
		<tr>
			<td>输入密码</td>
			<td class="textleft"><input type="password" name="pwd1" /></td>
		</tr>
		<tr>
			<td>确认密码</td>
			<td class="textleft"><input type="password" name="pwd2" /></td>
		</tr>
		<tr>
			<td width="120">权限</td>
			<td class="textleft">
				
				
				
			</td>
		</tr>
		<tr>
			<td width="120">状态</td>
			<td class="textleft"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" class="btn" value=" 确 定 "></td>
		</tr>
	</table>
</form>
<include file="Common:footer" />
<script type="text/javascript">
$(function(){
	var demo = $("#changeUser").Validform({
		tiptype:3,
	});
	demo.tipmsg.s="Error!";
	demo.addRule([
		{
			ele:"input[name='userID']",
			datatype:"*3-18",
		},
		{
			ele:"input[name='pwd1']",
			datatype:"*3-16",
			nullmsg:"输入密码",
			errormsg:"密码长度为6-16个字符",
			ignore:"ignore",
		},
		{
			ele:"input[name='pwd2']",
			datatype:"*3-16",
			nullmsg:"再次输入密码",
			recheck:"pwd1",
			errormsg:"输入错误",
			ignore:"ignore",
		},
	]);
})
</script>