<include file="Common:header" />
<div id="manager">
	<h2 class="title">用 户 管 理</h2>
	<p>管理导航：<a href="{:U('User/index')}">用户管理</a>&nbsp;|&nbsp;<a href="{:U('User/add')}">添加用户</a>
	<span>
		<input type="hidden" name="target" id="target" value="{:U('User/index')}" />
		<input type="text" name="wd" id="wd" value="{:I('get.wd','','trim')}" /><input name="search" type="button" value="快速检索" class="search" />
	</span>
	</p>
</div>
<form name="listForm" id="listForm" method="post" action="{:U('User/delete')}">
<table width="100%" class="content_table">
	<tr class="title">
		<td><input type="checkbox" id="checkAll"> 全选</td>
		<td><b>ID</b></td>
		<td><b>用户名</b></td>
		<td><b>权限</b></td>
		<td><b>状态</b></td>
		<td><b>单项操作</b></td>
	</tr>
	<foreach name="data" item="val">
	<tr class="content">
		<td><input name="id[]" type="checkbox" value="{$val['id']}"></td>
		<td>{$val['id']}</td>
		<td>{$val['username']}</td>
		<td>{$val['grantHtml']}</td>
		<td>已{$val['status']?'启用':'禁用'}</td>
		<td>{$val['statusHtml']}|<a href="{:U('User/add',array('id'=>$val['id']))}">修改</a>|<a href="javascript:if (confirm('确定删除?')) location='{:U('User/delete',array('id'=>$val['id']))}'">删除</a>|<a href="javascript:if (confirm('确定重置密码{:C('DEFAULT_PASSWORD')}?')) location='{:U('User/reset',array('id'=>$val['id']))}'">重置密码</a>|<a href="{:U('User/grant',array('id'=>$val['id']))}">分配权限</a></td>
	</tr>
	</foreach>
	<tr class="pages">
		<td><input name="del" type="button" value="删 除" class="btn blue" /></td>
		<td colspan="6">{$pagerData['linkhtml']}</td>
	</tr>
</table>
</form>
<include file="Common:footer" />