<include file="Common:header" />
<div id="manager">
	<h2 class="title">用 户 管 理</h2>
	<p>管理导航：<a href="{:U('User/index')}">用户管理</a>&nbsp;|&nbsp;<a href="{:U('User/add')}">添加用户</a></p>
</div>
<form name="ListForm" id="ListForm" method="post" action="{:U('Core/delete')}">
<table width="100%" class="content_table">
	<tr class="title">
		<td><input type="checkbox" id="checkAll"> 全选</td>
		<td><b>ID</b></td>
		<td><b>用户名</b></td>
		<td><b>权限</b></td>
		<td><b>状态</b></td>
		<td><b>单项操作</b></td>
	</tr>
	<?php foreach($userList as $v){?>
	<tr class="content">
		<td><input name="id[]" type="checkbox" value="{$val['id']}"></td>
		<td><?php echo $v->id;?></td>
		<td><?php echo $v->userID;?></td>
		<td><?php echo $v->grantWord();?></td>
		<td><?php echo $v->status();?></td>
		<td><?php echo $v->statusHref();?>|<a href="/admin.php/Core/userEdit/?id=<?php echo $v->id;?>">修改</a>|<a href="javascript:if (confirm('确定要删除此条信息吗？')) {location='/admin.php/Core/userDelete/<?php echo $v->id;?>';}">删除</a> </td>
	</tr>
	<?php }?>
</table>
</form>
<include file="Common:footer" />