<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>{$web_title}{$web_title ? '-' : ''}{$seoData['seo_title']}{$seoData['seo_title'] ? '-' : ''}{$settingData['title']}</title>
<meta name="keywords" content="{$web_keywords ? $web_keywords : ($seoData['seo_keywords'] ? $seoData['seo_keywords'] : ($settingData['keywords'] ? $settingData['keywords'] : C('DEFAUIT_SYSTEM_TITLE')))}" />
<meta name="description" content="{$web_description ? $web_description : ($seoData['seo_description'] ? $seoData['seo_description'] : ($settingData['description'] ? $settingData['description'] : C('DEFAUIT_SYSTEM_TITLE')))}" />
<load href="__PUBLIC__/{:C('HOME_THEME_PATH')}/css/reset.css" />
<load href="__PUBLIC__/{:C('HOME_THEME_PATH')}/css/style.css" />
<load href="__PUBLIC__/{:C('HOME_THEME_PATH')}/js/Jquery-1.4.2.min.js" />
<load href="__PUBLIC__/{:C('HOME_THEME_PATH')}/js/MSClass.js" />
</head>
<body>
<div id="header">
	<div class="logo"><EMBED pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://www.scweizhen.com/images/logo.swf" width="525" height="108" type="application/x-shockwave-flash" wmode="transparent" quality="high"></div>
	<div class="topHome"><a href="javascript:;" onclick="SetHome(this,'http://www.scwzba.com');">设为首页</a><a href="{:U('About/index')}">关于我们</a><a href="javascript:;" onclick="AddFavorite('http://www.scwzba.com','成都威振保安');">加入收藏</a></div>
	<div class="topTel"><img src="__PUBLIC__/{:C('HOME_THEME_PATH')}/images/index_18.gif" width="326" height="32" /></div>
</div>

<div class="nav">
	<ul id="menuList">
		<li><a href="/">网站首页</a></li>
		<li><a href="{:U('About/index')}">关于我们</a>
			<ul>
				<foreach name="aboutMenuData" key="key" item="val">
					<li <if condition="$key == $aboutMenuDataCount">class="right"</if>><a href="{:U('About/index',array('id'=>$val['id']))}">{$val['title']}</a></li>
				</foreach>
			</ul>
		</li>
		<li><a href="{:U('News/index')}">新闻动态</a>
			<ul>
				<foreach name="newsMenuData" key="key" item="val">
					<li <if condition="$key == $newsMenuDataCount">class="right"</if>><a href="{:U('News/index',array('id'=>$val['id']))}">{$val['category_title']}</a></li>
				</foreach>
			</ul>
		</li>
		<li><a href="{:U('Product/index')}">核心业务</a>
			<ul>
				<foreach name="productMenuData" key="key" item="val">
					<li <if condition="$key == $productMenuDataCount">class="right"</if>><a href="{:U('Product/index',array('id'=>$val['id']))}">{$val['title']}</a></li>
				</foreach>
			</ul>
		</li>
		<li><a href="{:U('Study/index')}">培训基地</a>
			<ul>
				<foreach name="studyMenuData" key="key" item="val">
					<li <if condition="$key == $studyMenuDataCount">class="right"</if>><a href="{:U('Product/index',array('id'=>$val['id']))}">{$val['title']}</a></li>
				</foreach>
			</ul>
		</li>
		<li><a href="{:U('Case/index')}">经典案例</a></li>
		<li><a href="{:U('About/index',array('id'=>1))}">招贤纳士</a></li>
		<li><a href="{:U('About/index',array('id'=>2))}">联系我们</a></li>
	</ul>
</div>

<div class="container">