<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>提示信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<load href="__PUBLIC__/{:C('HOME_THEME_PATH')}/js/Jquery-1.4.2.min.js" />
</head>

<body>
<center>
<div style="width:450px;padding:0px;border:1px solid #DADADA; margin:10% auto 0 auto;font:12px/24px Courier New,Microsoft Yahei,宋体;">
	<div style="padding:6px;font-size:14px;border-bottom:1px solid #DADADA;background:#EEE;"><b>提示信息！</b></div>
	<div style="height:130px;font-size:10pt;background:#ffffff">
		<br /><font style="color:blue">{:$message},</font><font id="time" style="color:red">{:C("AUTO_SUCCESS_PAGE_TIME")}</font>秒后自动跳转<br /><br />
		<a style="color:Green; text-decoration:none;" href="{:$jumpUrl}">如果你的浏览器没反应，请点击这里...</a>
	</div>
</div>
</center>

<script type="text/javascript">
var time = {:C("AUTO_SUCCESS_PAGE_TIME")};
var url = "{:$jumpUrl}";
$(function(){gotoPage();})
function gotoPage(){
	if(--time>=0){
		$('#time').html(time);
		interval = setTimeout("gotoPage()",1000);
	}else{
		clearInterval(interval);
		location.href=url;
	}
}
</script>
</body>
</html>