<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/css/reset.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/css/style.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/Jquery-1.4.2.min.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/css/login.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/css/login.css" />
<title>{$title|default=C('DEFAUIT_SYSTEM_TITLE')}</title>
</head>
<body>

<div class="header"> <a href="javascript:void(0);"><img src="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/images/login_logo.png"></a> </div>
<div class="main">
	<div class="login_picture">
		<div class="login_box">
			<input name="username" id="username" type="text" placeholder="请输入用户名" >
			<input name="password" id="password" type="password" placeholder="请输入密码" onKeyDown="if(event.keyCode==13) sublogin();">
			<div class="infos_tips"></div>
			<a href="javascript:void(0);" title="登录" class="login_btn">登 录</a> <span> <a href="http://wpa.qq.com/msgrd?v=1&uin=190296465&site=qq&menu=yes" title="忘记密码" target="_blank">忘记密码</a> | <a href="http://wpa.qq.com/msgrd?v=1&uin=190296465&site=qq&menu=yes" title="帮助中心" target="_blank">帮助中心</a> </span> </div>
	</div>
</div>
<div class="login_text">
	<ul>
		<span><em>远景目标</em>做最专业的网络营销创意服务及网络技术<br />服务支持平台！</span>
		<span class="text02"><em>我们的使命</em>让信息化和电子商务实现得<br />更简单!</span>
		<span class="text03"><em>价值观</em>客户至上、诚信、道德、创新<br />激情、敬业</span>
	</ul>
</div>
<div class="footer">
	<a href="http://www.tcit123.com/About" target="_blank" title="关于我们">关于我们</a>&nbsp;|
    <a href="http://www.tcit123.com/Contact" target="_blank" title="联系我们">联系我们</a>&nbsp;|
    <a href="http://www.tcit123.com/Contact" target="_blank" title="版权声明">版权声明</a>&nbsp;|
    <a href="http://www.tcit123.com/Contact" target="_blank" title="帮助中心">帮助中心</a>
    <br>
    Copyright © 2002 - 2013  成都天成网络科技有限公司
</div>
<include file="Common:footer"/>
<script type="text/javascript">
$(document).ready(function () {
	$(".login_btn").click(function () {
		ajaxLogin();
	});
});

function ajaxLogin(){
	var username = $.trim($("#username").val().replace("请输入用户名", ""));
	var password = $.trim($("#password").val().replace("请输入密码", ""));
	var remember = 0;
	if($("#remember").attr("checked"))
		remember=1;
	$.ajax({
		type: "post",
		url: "{:U('Login/loginAction')}",
		data: {username:username, password:password,remember:remember},
		success: function (data) {
			if (data['status'] == 1) {
				location.href = "/Admin";
			} else {
				$(".infos_tips").html('<p class="tips_icon">' + data['info'] + '</p>');
			}
		}
	});
}
</script>
</body>
</html>