<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/css/reset.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/css/style.css" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/js/Jquery-1.4.2.min.js" />
<load href="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/css/login.css" />
<title>{$title|default=C('DEFAUIT_SYSTEM_TITLE')}</title>
</head>
<body>

<div class="header"> <a href="javascript:void(0);"><img src="__PUBLIC__/{:C('ADMIN_THEME_PATH')}/images/login_logo.png"></a> </div>
<div class="main">
	<div class="login_picture">
		<div class="login_box">
			<input name="username" id="username" type="text" placeholder="请输入用户名" >
			<input name="password" id="password" type="password" placeholder="请输入密码" onKeyDown="if(event.keyCode==13) sublogin();">
			<div class="infos_tips"></div>
			<a href="javascript:void(0);" title="登录" class="login_btn">登 录</a> <span> <a href="/Welcome/reg/cname/0" class="login_reg" title="免费注册" target="_blank">免费注册</a> | <a href="/Forgetpsw/index" title="忘记密码" target="_blank">忘记密码</a> | <a href="/Public/help/help_index.html" title="帮助中心" target="_blank">帮助中心</a> </span> </div>
	</div>
</div>
<div class="login_text">
	<ul>
		<span><em>全天候 全地域</em>全天候全地域实时在线，<br />
		自动查询商标申请进展和状态。</span> <span class="text02"><em>商标异常100%预警</em>商标异常我来管，<br />
		邮件、站内双重预警。</span> <span class="text03"><em>官方数据 严谨如一</em>状态监测、实时跟踪，<br />
		所有信息同步国家商标数据库。</span>
	</ul>
</div>
<div class="footer"> <a href="#" target="_blank" title="关于我们">关于我们</a>&nbsp;| <a href="#" target="_blank" title="联系我们">联系我们</a>&nbsp;| <a href="#" target="_blank" title="友情链接">友情链接</a>&nbsp;| <a href="#" target="_blank" title="版权声明">版权声明</a>&nbsp;| <a href="#" target="_blank" title="超凡招聘">超凡招聘</a>&nbsp;| <a href="#" target="_blank" title="帮助中心">帮助中心</a> <br>
	Copyright © 2002 - 2013  北京超凡知识产权代理有限公司  京ICP备13010625号 </div>
<include file="Common:footer"/>
<script type="text/javascript">
$(document).ready(function () {
	$(".login_btn").click(function () {
		ajaxLogin();
	});
});

function ajaxLogin(){
	var username = $.trim($("#username").val().replace("请输入用户名", ""));
	var password = $.trim($("#password").val().replace("请输入密码", ""));
	var remember = 0;
	if($("#remember").attr("checked"))
		remember=1;
	$.ajax({
		type: "post",
		url: "{:U('Login/loginAction')}",
		data: {username:username, password:password,remember:remember},
		success: function (data) {
			if (data['status'] == 1) {
				location.href = "/Admin";
			} else {
				$(".infos_tips").html('<p class="tips_icon">' + data['info'] + '</p>');
			}
		}
	});
}
</script>
</body>
</html>